__pycache__/
*.py[cod]
*$py.class

# Virtual environments / env files
venv/
.venv/
.env
.env*/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python packaging / build
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Local indices (can be regenerated)
vector_index/

# IDEs
.idea/